/*
estilo de index
*/
.center{
    text-align: center;
}

.container{
    display: flex;
    flex-flow: row ;
    justify-content: center;
    align-items: center;
}

.text{
    text-align: center;
}

.justify{
    text-align: justify;
}

.mb-50{
    margin-top: 40px;
}

#menu li{
    display: inline;
    padding: 30px;
     
}

#menu li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#menu li a:hover{
color:brown
}

.p-30{
    padding: 30px
}

/*
estilo de contato
*/

mb-100{
    margin-bottom: 100px; 
}

